.lensLink {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.439216);
    cursor: pointer;
    display: inline-block;
    height: 38px;
    letter-spacing: -0.280000001192093px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 1px solid rgba(0, 0, 0, 0.14902);
    border-radius: 13986px 13986px 13986px 13986px;
    font: normal normal normal normal 14px/37px 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    margin: 0 8px 0 0;
    outline: rgba(0, 0, 0, 0.439216) none 0;
    padding: 0 16px;
    transition: border-color 0.1s ease 0s, color 0.1s ease 0s;
}

.tools{
  padding: 10px 10px;
  padding-bottom: 0;
}

.lensLink:focus, .lensLink:active, .lensLink:hover {
    color: rgba(0,0,0,0.6);
    border-color: rgba(0,0,0,0.3);
}

img {
  max-width: 100%;
}

body, td, input, select, textarea, button {
  color: hsl(273, 10%, 20%);
}

h1 {
  font-size: 1.25em;
}

h2 {
  font-size: 1.125em;
}

h3 {
  font-size: 1.05em;
}

a {
  text-decoration: none;
  color: #35C;
}

a:hover {
  text-decoration: underline;
  background-color: #fafafa;
}

blockquote {
  border-left: 5px solid #eaeef1;
  color: #555;
  margin-left: 0;
  margin-right: 0;
  padding: 0 20px;
}

hr {
  height: 0px;
  border: none;
  border-top: 1px solid #ddd;
}

br {
  clear: left;
}

#article {
  display: inline-block;
  font: 19px Georgia, Times, "Times New Roman", serif;
  line-height: 160%;
  text-align: justify;
  text-shadow: none;
}

#article.rtl {
  direction: rtl;
  text-align: right;
}

.page {
  border: 1px solid #C3C3C3;
  background-color: #fdfdfd;
  padding: 45px 70px;
  margin: 12px 12px 0 12px;
  -webkit-user-select: auto;
}

.page:first-of-type {
  margin-top: 20px;
}

.page:last-of-type {
  margin-bottom: 20px;
}

.page table {
  font-size: 0.9em;
  text-align: left;
}

.page.rtl table {
  text-align: right;
}

#title {
  display: none;
  font-weight: bold;
  font-size: 1.33em;
  line-height: 1.25em;
  margin-bottom: 1.5em;
  padding: 45px 70px;
  padding-bottom: 0;
}

.page:first-of-type #title {
  display: block;
}

.content {
  word-wrap: break-word;
}

.content pre, .content xmp, .content plaintext, .content listing {
  white-space: normal;
}

.content pre, .content code {
  border: 1px dashed #d3c8cf;
  border-left: 5px solid #f5edf2;
  padding: 5px 5px 5px 10px;
}

.content img {
  float: left;
  margin: 12px 12px 12px 0px;
  max-width: 100%;
  height: auto;
}

.content.disableImages img {
  display: none !important;
}

.content .tinyImage {
  float: none;
  margin: 0;
}

.content .largeImage {
  float: none;
  margin: 1em auto;
  display: block;
  clear: both;
/*-webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 20px;*/;
}

.content a img {
  border: none;
}

.content .float {
  margin: 8px 0;
  font-size: 70%;
  line-height: 1.4;
  text-align: left;
}

#article.rtl .content .float {
  text-align: right;
}

.content .float.left {
  float: left;
  margin-right: 20px;
}

.content .float.right {
  float: right;
  margin-left: 20px !important;
}

.content .float.full-width {
  float: none;
  display: block;
}

::-webkit-scrollbar:horizontal,
::-webkit-scrollbar-track:disabled {
  display: none;
}

::-webkit-scrollbar-thumb {
  -webkit-border-image: url("https://i.imgur.com/JiF4KuF.png") 19 0 19 0;
  /*-webkit-border-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/scrollbar-thumb.png') 19 0 19 0;*/
  border-width: 19px 0;
  min-height: 40px;
}

::-webkit-scrollbar-track {
  margin-top: 20;
  margin-bottom: 20;
  -webkit-border-image: url("https://i.imgur.com/wLYCOTH.png") 21 0 21 0;
  /*-webkit-border-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/scrollbar-track.png') 21 0 21 0;*/
  border-width: 21px 0;
}

::-webkit-scrollbar {
  width: 21px;
}

@media print {
  body {
    background: #fff !important;
  }

  #controls, .footer, .loader {
    display: none !important;
  }

  #articleContainer {
    width: auto !important;
    height: auto !important;
  }

  #article, .page, .contentWrapper {
    border: none;
    margin: 0 ;
    padding: 0 ;
    font-size: 12pt;
  }

  .page {
    background: #fff !important;
  }

  .page, a:link, a:visited {
    color: #000 !important;
  }

  a:link, a:visited {
    color: #520 !important;
    background: transparent;
    text-decoration: underline;
  }

  .content a:link:after, .content a:visited:after {
    /*opt*/content: " (" attr(href) ") ";
    font-size: 80%;
    color: #853 !important;
  }

  .page:last-of-type .articleInfo {
    display: block !important;
  }

  .page .pageNumber {
    float: none;
    background: #fafafa;
    color: #000;
    border: solid 2px #eee;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}